<div class="top">
  <section class="banner" role="banner"> 
    <!-- banner text -->
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div class="banner-text text-center">
          <h1>しゃべり場</h1>
          <p style="color:red;">承認欲求満たし隊<br>
          (キャッチコピー)</p>
          <nav role="navigation">
            <a href="#services" class="banner-btn">
              <img src="images/down-arrow.png" alt="">
            </a>
          </nav>
        </div>
        <!-- banner text --> 
      </div>
    </div>
  </section>
  <!-- Get a quote section -->
  <section id="contact" class="section quote">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>共感文</h1>
        <a href="form.html" class="btn btn-large"></a>
      </div>
    </div>
  </section>
  <!-- Get a quote section --> 

  <!-- 協賛 section -->
  <section id="contact" class="section_quote">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 style="color:red;">協賛ロゴ</h1>
        <a href="form.html" class="btn btn-large">ロゴ</a> </div>
    </div>
  </section>
  <!-- 協賛　section --> 
  <!-- step section -->
  <section id="contact" class="">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1 style="color:red;">（しゃべり場にきたらどうなれるか）ステップ</h1>
        <a href="form.html" class="btn btn-large"></a> </div>
    </div>
  </section>
  <!-- step　section --> 


  <!-- services section -->
  <section id="services" class="services service-section">
    <div class="container">
      <h1 style="color:red;">強み</h1>
      <div class="row">
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-strategy"></span>
          <div class="services-content">
            <h5>早期段階から内定がもらえる！</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-briefcase"></span>
          <div class="services-content">
            <h5>企業の人事さん・社長さんに直接あえる！</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-tools"></span>
          <div class="services-content">
            <h5>人間力が身につくと・・・</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-genius"></span>
          <div class="services-content">
            <h5>専門性がますと・・・</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-megaphone"></span>
          <div class="services-content">
            <h5>勉強しながらお金がもらえる！有料インターンも紹介！！</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 services"> <span class="icon icon-trophy"></span>
          <div class="services-content">
            <h5>企業に入ってから学ぶ研修を学生のうちから学べる！</h5>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- services section --> 
   
  <!-- our team section -->
  <section id="teams" class="section teams">
    <div class="container">
      <div class="row"> 
       <p class="voice">ユーザーの声</p>
        <!-- team member 1 -->
        <div class="col-md-4 col-sm-8">
          <div class="person"> <img src="images/sya.png" alt="" class="img-responsive">
            <div class="person-content">
              <h4>しゃあくん（仮名）</h4>
              <h5 class="role">The Mastermind</h5>
              <p>テスト </p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- team member 1 --> 
        <!-- team member 2 -->
        <div class="col-md-4 col-sm-8">
          <div class="person"> <img src="images/sya.png" alt="" class="img-responsive">
            <div class="person-content">
              <h4>しゃあくん（仮名）</h4>
              <h5 class="role">Creative head</h5>
              <p>テスト.</p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- team member 2 --> 
        <!-- team member 3 -->
        <div class="col-md-4 col-sm-8">
          <div class="person"> <img src="images/sya.png" alt="" class="img-responsive">
            <div class="person-content">
              <h4>Mike Collins</h4>
              <h5 class="role">Technical lead</h5>
              <p>テスト
            </div>
            <ul class="social-icons clearfix">
              <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- team member 1 --> 
      </div>
    </div>
  </section>
  <!-- our team section --> 
  <!-- Testimonials section -->
  <section id="testimonials" class="no-js section testimonials no-padding">
    <div class="container-fluid"> 
      <div class="row no-gutter">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>今月のMVP賞 </h1>
                  <p>魚沼産コシヒカリ, パンツで賞</p>
                </blockquote>
              </div>
            </li>
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>今月のMVP賞 </h1>
                  <p>みくちん、がんばったで賞</p>
                </blockquote>
              </div>
            </li>
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>今月のMVP賞 </h1>
                  <p>しゃあ、赤い彗星で賞</p>
                </blockquote>
              </div>
            </li>
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>今月のMVP</h1>
                  <p>角南めい、怒ったで賞</p>
                </blockquote>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonials section --> 
  <!-- Get a quote section -->
  <section id="contact" class="section quote">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3>しゃべり場で楽しい大学生活を過ごしましょう！！</h3>
        <a href="form.html" class="btn btn-large">しゃべり場にいく</a> </div>
    </div>
  </section>
  <!-- Get a quote section --> 
  <!-- Get a quote section -->
  <section id="contact" class="section quote">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>しゃべり場ブログもみてね</h1>
        <a href="form.html" class="btn btn-large">ブログを読む</a> </div>
    </div>
  </section>
  <!-- Get a quote section --> 
  <!-- Footer section -->
  <footer class="footer">
    <div class="footer-top section">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-6">
            <h5>所在地</h5>
            <p>東京都港区高輪1-2-16　フラットウェル高輪1F<br>
              <br>
              info@makeentre.jp</p>
              <p>Copyright ©メイクアントレグループ All Rights Reserved.</p>
          </div>
          <div class="footer-col col-md-3">
            <h5>開催日時</h5>
            <p>
            <!--<ul>
              <li><a href="#">Digital Strategy</a></li>
              <li><a href="#">Websites</a></li>
              <li><a href="#">Videography</a></li>
              <li><a href="#">Social Media</a></li>
              <li><a href="#">User Experience</a></li>
            </ul>-->
            日時：毎週月曜日 20-22時<br>
            アクセス：<br>
            白金高輪駅２番出口より徒歩2分
            
            </p>
          </div>
          <div class="footer-col col-md-3">
            <h5>SNS</h5>
            <ul class="footer-share">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- footer top --> 
  </footer>
</div>